---
import MapImg from "../public/images/Map.png"
---

<!-- ============================================ --><!--                    Map                       --><!-- ============================================ -->
<section id="map-720">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source
            media="(max-width: 600px)"
            srcset={MapImg.src}
        />
        <!--Tablet and above Image-->
        <source
            media="(min-width: 601px)"
            srcset={MapImg.src}
        />
        <img
            loading="lazy"
            decoding="async"
            src={MapImg.src}
            alt="map"
            width="1280"
            height="600"
        />
    </picture>
</section>

<style>
    /*-- -------------------------- -->
<---            Map             -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #map-720 {
            height: 87rem;
            /* prevents padding and border from affecting height and width */
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        #map-720 .cs-background img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            /* Makes img tag act as a background image */
            object-fit: cover;
        }
    }
</style>
