<!-- ============================================ --><!--                  Pricing                     --><!-- ============================================ -->
<section id="pricing-357">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Benefits</span>
            <h2 class="cs-title">Why you should use agentlist</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">As an Agent</h3>
                <div class="cs-option-group">
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img
                            class="cs-li-img"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
                            alt="code stitch icon"
                            width="20"
                            height="20"
                        />
                       Direct Contact: Skip the cold calls and meet qualified leads and propspects.
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-li-img"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
                            alt="code stitch icon"
                            width="20"
                            height="20"
                        />
                        No Risk: You only pay a small fee per succesfull transaction.
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-li-img"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
                            alt="code stitch icon"
                            width="20"
                            height="20"
                        />
                        Profile Authority: Build a verified reputation within the military community with your AgentList Profile.
                    </li>
                     <li class="cs-li">
                        <img
                            class="cs-li-img"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
                            alt="code stitch icon"
                            width="20"
                            height="20"
                        />
                        Referral System: Send and receive referrals within a trusted, military-focused network.
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-li-img"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
                            alt="code stitch icon"
                            width="20"
                            height="20"
                        />
                        Support 24/7.
                    </li>
                </ul>

            </li>
            <li class="cs-item">
                <h3 class="cs-h3">As a Homebuyer</h3>
                <div class="cs-option-group">
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img
                            class="cs-li-img"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
                            alt="code stitch icon"
                            width="20"
                            height="20"
                        />
                        You choose: Choose your agent based on your needs with our tool.
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-li-img"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
                            alt="code stitch icon"
                            width="20"
                            height="20"
                        />
                        Verified Experts: Only meet qualified and trusted agents.
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-li-img"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
                            alt="code stitch icon"
                            width="20"
                            height="20"
                        />
                        Anywhere and Anytime: Start your relocation process whenever you can with only one click.
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-li-img"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
                            alt="code stitch icon"
                            width="20"
                            height="20"
                        />
                        Privacy: All your information is safe and secure with us.
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-li-img"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
                            alt="code stitch icon"
                            width="20"
                            height="20"
                        />
                        No costs.
                    </li>
                    <li class="cs-li">
                        <img
                            class="cs-li-img"
                            aria-hidden="true"
                            loading="lazy"
                            decoding="async"
                            src="https://csimg.nyc3.digitaloceanspaces.com/Pricing/check-blue.svg"
                            alt="code stitch icon"
                            width="20"
                            height="20"
                        />
                        Support 24/7.
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>

<style>
    /*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

    /* Mobile */
    @media only screen and (min-width: 0rem) {
        #pricing-357 {
            padding: var(--sectionPadding);
        }
        #pricing-357 .cs-container {
            width: 100%;
            max-width: 80rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }
        #pricing-357 .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        #pricing-357 .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }
        #pricing-357 .cs-item {
            list-style: none;
            /* 20px - 32px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1.25rem, 3vw, 2rem) clamp(1rem, 2.4vw, 2rem);
            width: 100%;
            max-width: 25.8125rem;
            border-radius: 1rem;
            background: #f7f7f7;
            border: 1px solid #e8e8e8;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
        }
        #pricing-357 .cs-item:nth-of-type(2) .cs-option2-text,
        #pricing-357 .cs-item:nth-of-type(2) .cs-option1-text {
            transition-delay: 0.1s;
        }
        #pricing-357 .cs-item:nth-of-type(3) .cs-option2-text,
        #pricing-357 .cs-item:nth-of-type(3) .cs-option1-text {
            transition-delay: 0.2s;
        }
        #pricing-357 .cs-popular {
            background: var(--primary);
            position: relative;
            /* clips the popular tag */
            overflow: hidden;
            /* send to the top */
            order: -1;
        }
        #pricing-357 .cs-popular:before {
            /* Most Popular Tag */
            content: "Popular";
            font-size: 0.875rem;
            text-align: center;
            line-height: 1.8125em;
            font-weight: 700;
            width: 10.625rem;
            padding: 0 0.75rem;
            color: var(--bodyTextColorWhite);
            background-color: var(--secondary);
            position: absolute;
            display: block;
            top: 1.25rem;
            right: -3.75rem;
            transform: rotate(42deg);
        }
        #pricing-357 .cs-popular .cs-h3,
        #pricing-357 .cs-popular .cs-item-text,
        #pricing-357 .cs-popular .cs-price,
        #pricing-357 .cs-popular .cs-included,
        #pricing-357 .cs-popular .cs-li,
        #pricing-357 .cs-popular .cs-small {
            color: var(--bodyTextColorWhite);
        }
        #pricing-357 .cs-popular .cs-button-solid {
            background-color: #fff;
            color: var(--primary);
            transition: color 0.3s;
        }
        #pricing-357 .cs-popular .cs-button-solid:before {
            background-color: var(--secondary);
        }
        #pricing-357 .cs-popular .cs-button-solid:hover {
            color: #fff;
        }
        #pricing-357 .cs-popular .cs-li-img {
            /* turns the check mark white */
            filter: brightness(900%);
        }
        #pricing-357 .cs-h3 {
            font-size: 1.25rem;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 0.25rem;
            padding: 0;
            color: var(--headerColor);
        }
        #pricing-357 .cs-item-text {
            font-size: 0.875rem;
            line-height: 1.5em;
            /* 16px - 24px */
            margin: 0 0 clamp(1rem, 2vw, 1.5rem);
            padding: 0;
            color: var(--bodyTextColor);
        }
        #pricing-357 .cs-option-group {
            position: relative;
        }
        #pricing-357 .cs-option-group:after {
            /* top right box */
            content: "";
            width: 100%;
            height: 1px;
            /* 32px - 40px */
            margin-bottom: clamp(2rem, 4vw, 2.5rem);
            background: linear-gradient(
                90deg,
                rgba(232, 232, 232, 0.2) 0%,
                #e8e8e8 53.78%,
                rgba(232, 232, 232, 0.2) 100%
            );
            opacity: 1;
            position: relative;
            display: block;
        }
        #pricing-357 .cs-price {
            font-size: 3.0625rem;
            line-height: 1.2em;
            font-weight: 700;
            margin-bottom: 1.5rem;
            color: var(--headerColor);
            /* spans are inline, need to add block for margin to work */
            display: block;
        }
        #pricing-357 .cs-small {
            font-size: 0.875rem;
            font-weight: 400;
            color: #4e4b66;
        }
        #pricing-357 .cs-included {
            font-size: 1rem;
            line-height: 1.5em;
            font-weight: 700;
            /* 16px - 24px */
            margin-bottom: clamp(1rem, 3vw, 1.5rem);
            color: var(--headerColor);
            display: block;
        }
        #pricing-357 .cs-ul {
            padding: 0;
            margin: 0;
            /* 32px - 40px */
            margin-bottom: clamp(2rem, 4vw, 2.5rem);
        }
        #pricing-357 .cs-li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            list-style: none;
            padding: 0;
            margin: 0 0 0.75rem;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
        #pricing-357 .cs-li:last-of-type {
            margin-bottom: 0;
        }
        #pricing-357 .cs-disabled {
            /* fades out list items that are disabled from the price tier */
            filter: grayscale(1);
            opacity: 0.3;
        }
        #pricing-357 .cs-li-img {
            width: 1.25rem;
            height: auto;
            margin-top: 0.1875rem;
            margin-right: 0.5rem;
        }
        #pricing-357 .cs-button-solid {
            font-size: 1rem;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: 9.375rem;
            padding: 0 1.5rem;
            background-color: var(--primary);
            border-radius: 0.25rem;
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
        }
        #pricing-357 .cs-button-solid:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 0%;
            background: #000;
            opacity: 1;
            top: 0;
            left: 0;
            z-index: -1;
            border-radius: 0.25rem;
            transition: width 0.3s;
        }
        #pricing-357 .cs-button-solid:hover:before {
            width: 100%;
        }
        #pricing-357 .cs-button-solid {
            /* cs-button-solid override */
            width: 100%;
            margin: 0 0 1rem 0;
        }
    }
    /* Tablet 768px */
    @media only screen and (min-width: 48rem) {
        #pricing-357 .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            flex-wrap: nowrap;
        }
        #pricing-357 .cs-item {
            width: 100%;
            /* ensures they stay the same height if you add more content */
            align-self: stretch;
        }
        #pricing-357 .cs-popular {
            /* send back to its original order */
            order: unset;
        }
        #pricing-357 #cs-option2-357:before {
            top: -0.625rem;
        }
        #pricing-357 #cs-option2-357:after {
            top: -2.1875rem;
            right: -6.25rem;
        }
    }
</style>
